<h1>Welcome to OwnThat!</h1>

<h2>What is OwnThat?</h2>
<p>
This is a web service providing cooperative locks/mutexes and
resource allocations from a database pool.

It also allows you to manually update/remove locks and managing resourse
pools.
</p>

<ul>
  <li><%= link_to "Locks", locks_path %></li>
</ul>

TODO: links to interesting stuff and more info
